.banner-banner {
  display: flex;
  align-items: center; /* Alignement vertical */
  border-bottom: 5px solid rgb(175, 175, 175);
  background-color: #e6bc14e5;
}

.banner-logo {
  height: 20vmin;
  pointer-events: none;
}

.banner-title {
  text-align: left;
  margin-left: 10px; /* Espace entre le logo et le titre */
}
