.containerProd {
  width: calc(20% - 20px); 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  margin: 10px; 
  padding: 10px; 
  position: relative; 
  display: flex; 
  flex-direction: column; 
}

.imgProd {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  margin-bottom: 10px; 
  cursor: pointer;
}

.nameProd {
  font-size: 18px;
  margin-bottom: 5px;
  cursor: pointer; 
}

@keyframes clickAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.nameProd:hover {
  animation: clickAnimation 0.3s linear; 
  cursor: pointer; 
}

.priceProd {
  font-size: 16px; 
  font-weight: bold; 
  color: #007bff; 
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
}

.likeProd {
  position: absolute; 
  top: 10px; 
  right: 10px;
  width: 20px;
  cursor: pointer;
}

.buyProd {
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
  width: 20px; 
  cursor: pointer;
}

.containerProd.added-to-cart {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imgProd {
  width: 100%; 
  height: 250px; 
  object-fit:scale-down; 
  border-radius: 8px; 
  margin-bottom: 10px; 
}

