.shopping-cart {
  margin-top: 20px;
  margin-bottom: 20px; /* Ajout d'une marge en bas */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-width: 600px; /* Limite la largeur du panier */
  margin-left: auto; /* Centre le panier horizontalement */
  margin-right: auto; /* Centre le panier horizontalement */
  text-align: center; /* Centre le contenu horizontalement */
}

.shopping-cart h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center; /* Centre le titre */
}

.shopping-cart ul {
  list-style-type: none;
  padding: 0;
}

.shopping-cart li {
  margin-bottom: 20px; /* Augmente l'espacement entre les éléments */
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; /* Ajout de la transition */
}

.shopping-cart li:hover {
  background-color: #f0f0f0; /* Changement de couleur au survol */
}

.shopping-cart .product-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  border: 2px solid #ccc; /* Ajout d'une bordure autour de l'image */
}

.shopping-cart .product-details {
  display: flex;
  flex-direction: column; /* Affiche les détails en colonne */
}

.shopping-cart .product-name {
  font-size: 18px;
  margin-bottom: 5px; /* Réduit l'espacement après le nom */
}

.shopping-cart .product-price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}

.shopping-cart .product-quantity {
  font-size: 16px;
  margin-right: 10px;
}

.shopping-cart .quantity-buttons button {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shopping-cart .quantity-buttons button:hover {
  background-color: #0056b3; 
}

.shopping-cart .remove-button {
  margin-top: 5px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shopping-cart .remove-button:hover {
  background-color: #c82333; 
}

.shopping-cart .total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center; /* Centre le total horizontalement */
}

.shopping-cart .pay-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block; /* Affiche le bouton de paiement en bloc */
  margin-left: auto; /* Centre le bouton horizontalement */
  transition: all 0.3s ease; /* Ajout de la transition */
}

.shopping-cart .pay-button:hover {
  background-color: #218838; /* Changement de couleur au survol */
}
